@charset "UTF-8";

/* 공통 스타일 */
#container{
    width: 80%;
    margin: 0 auto;
}

ul{
    padding-left: 0;
}

h2{
    border-bottom: 2px solid #ccc;
    padding: 16px;
    text-align: center;
}
ul li{
    list-style: none;
    margin: 10px;
}

/* home 스타일 */
#main{
    text-align: center;
}
.main-pic img{
    width: 50%;
    border-radius: 8px;
}
.menu{
    margin: 10px;
}

.menu a{
    text-decoration: none;
    color: lightblue;
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
}

.menu a:hover{
    color: blue;
    text-shadow: 1px 1px 3px white;
    background-color: lightblue;
    border-radius: 3px;
    border: 1px dotted black;
    padding: 2px;
    margin: 2px;
}


/* join */
.joinForm{
    width: 400px;
    margin: 0 auto;
}

.joinForm label{
    width: 80px;
    float: left;
}

.button{
    display: flex;
    gap: 10px;
    /* flex-direction: column; */
    align-items: center;
    justify-content: end;
    cursor: pointer;
}

.joinBtn{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

/* list */
#memberList, #boardList{
    width: 650px;
    margin: 20px auto;
}

#memberList th, td, #boardList th, td{
    border: 1px solid black;
    border-radius: 3px;
    background-color: lightblue;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px black;
    text-align: center;
}

.home{
    width: 100px;
    margin: 5px auto;
    border: 1px solid cyan;
    border-radius: 5px;
    background-color: cyan;
    text-align: center;
}

.home:hover{
    background-color: yellow;
    cursor: pointer;
}

.home a{
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
}

.detail{
    color: white;
    text-shadow: 1px 1px 3px black;
    text-decoration: none;
}

.detail:hover{
    color: black;
}

/* 회원정보 */

.memberInfo{
    width: 250px;
    border-radius: 3px;
    font-weight: bold;
    margin-bottom: 10px;
}

div a button{
    cursor: pointer;
    font-weight: bold;

}

div a button:hover{
    background-color: darkgray;
    color: white;
}

/* error 메세지 */

.errorMsg{
    font-size: 20px;
    color: red;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: yellow;
    border-radius: 5px;
}

/* 게시글 */

.writeForm{
    width: 500px;
    margin: 0 auto;
}

.formDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.field ul li input, textarea {
    width: 100%;
}

.field ul li p{
    display: flex;
    justify-content: end;
}

.field ul li p button:hover{
    cursor: pointer;
    background-color: darkgray;
    border: 2px solid white;
    border-radius: 3px;
}

/* btn */

.writeBtn{
    width: auto;
    display: flex;
    justify-content: end;
    gap: 5px;
}

.writeBtn a{
    text-decoration: none;
    display: flex;
}

.writeBtn a button:hover{
    cursor: pointer;
    background-color: darkgray;
    border: 2px solid white;
    border-radius: 3px;
}

/*
*/

.searchForm{
    width: 550px;
    margin: 0 auto;
    text-align: right;
}

.pagination{text-align: center;}
.pagination a{padding: 4px;}

.btnWrite button{padding: 8px 12px;}
